body {
  margin: auto;
}

nav a {
  font-size: 18px;
  font-family: 'Inter', sans-serif;
  color: #212529;
  text-decoration: none;
  padding-right: 6%;
  padding-top: 4%;
}

.kava-nav{
  font-size: 34px;
  font-family: 'Inter', sans-serif;
  margin: 0%;
  padding: 10%;
  color:#212529;
}

.kava-nav:hover{
  color: white;
  font-size: 34px;


}

nav .KAVA {
  font-size: 34px;
  font-family: 'Inter', sans-serif;
  margin: 0%;
  padding: 10%;
  color: #212529;
}

nav a:hover {
  font-size: 18px;
  font-family: 'Inter', sans-serif;
  color: white;

}

nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  background: rgba(182, 167, 167, 0.526);
}


.one{
  color: white;
  background-color: #212529;
}


section{
  padding: 3%;

}

.one p{
  padding-left: 3%;
  padding-right: 8%;
  padding-top: 2%;
  padding-bottom: 1%;
  font-size: 20px;
  font-family: 'Inter', sans-serif;
}

.one h1{
  padding-left: 3%;
  padding-right: 8%;
  font-size: 35px;
  font-family: 'Inter', sans-serif;
}

.two{
  background-color: #F4F4F4;
}



.three a:hover {
  color: darkslategrey;
}

.two h1, .two a{
  padding-right: 8%;
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  color: black;
  padding-left: 4%;
}


.right {
  display: flex;
  justify-content: space-between;
  width: 34%;
}

.two p {
  padding-right: 10%;
  padding-left: 4%;
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Inter', sans-serif;
}


footer {
  background-color: #212529;
  display: flex;
  justify-content: space-between;
  padding-top: 5%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 5%;
}

footer a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
  }
  
  footer a:hover {
    color: #A6A6AB;
}
